.top-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.top-container > .widget.block.block-static-block {
    margin-bottom: 1%;
}

.category-banner {
    height: 228px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-banner-title {
    font-size: 4rem;
    font-weight: bold;
}
